In [1]:
# load data

import pandas as pd

netflix_df = pd.read_csv("netflix_data.csv")

In [2]:
netflix_df.head()

,show_id,type,title,director,cast,country,date_added,release_year,duration,description,genre
0,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,93,After a devastating earthquake hits Mexico Cit...,Dramas
1,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,78,"When an army recruit is found dead, his fellow...",Horror Movies
2,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,80,"In a postapocalyptic world, rag-doll robots hi...",Action
3,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,123,A brilliant group of students become card-coun...,Dramas
4,s6,TV Show,46,Serdar Akar,"Erdal Beşikçioğlu, Yasemin Allen, Melis Birkan...",Turkey,"July 1, 2017",2016,1,A genetics professor experiments with a treatm...,International TV

In [3]:
netflix_df.shape

(4812, 11)

In [6]:
netflix_df.loc[20,]

show_id                                                       s29
type                                                        Movie
title                               #AnneFrank - Parallel Stories
director                              Sabina Fedeli, Anna Migotto
cast                                  Helen Mirren, Gengher Gatti
country                                                     Italy
date_added                                           July 1, 2020
release_year                                                 2019
duration                                                       95
description     Through her diary, Anne Frank's story is retol...
genre                                               Documentaries
Name: 20, dtype: object

In [16]:
genres = netflix_df.drop_duplicates(['type','genre'])[['type','genre']]
movies = netflix_df.drop_duplicates(['title','genre'])[['title','genre']]

In [20]:
# inner join

inner_join = movies.merge(genres, on='genre', suffixes=('_mov','_gen'))
print(inner_join.head())
print(len(inner_join))

   title             genre     type
0   7:19            Dramas    Movie
1  23:59     Horror Movies    Movie
2      9            Action    Movie
3     21            Dramas    Movie
4     46  International TV  TV Show
5095

In [21]:
# left join

left_join = movies.merge(genres, on='genre', how='left')
print(left_join.head())
print(len(left_join))

   title             genre     type
0   7:19            Dramas    Movie
1  23:59     Horror Movies    Movie
2      9            Action    Movie
3     21            Dramas    Movie
4     46  International TV  TV Show
5095

In [22]:
# right join

right_join = movies.merge(genres, on='genre', how='right')
print(right_join.head())
print(len(right_join))

    title   genre   type
0    7:19  Dramas  Movie
1      21  Dramas  Movie
2     187  Dramas  Movie
3    1922  Dramas  Movie
4  Oct-01  Dramas  Movie
5095

In [23]:
# outer join

outer_join = movies.merge(genres, on='genre', how='outer')
print(outer_join.head())
print(len(outer_join))

          title   genre   type
0             9  Action  Movie
1  ​Goli Soda 2  Action  Movie
2      Æon Flux  Action  Movie
3   10,000 B.C.  Action  Movie
4     14 Blades  Action  Movie
5095

In [ ]:
# anti join - find employess that do not have a top customer

empl_cust = employees.merge(top_cust, on='srid', how='left', indicator=True)
srid_list = empl_cust.loc[empl_cust['_merge'] == 'left_only', 'srid']
print(employees[employees['srid'].isin(srid_list)])

In [24]:
# semi join - find music tracks that have a top invoice

tracks_invoices = non_mus_tcks.merge(top_invoices, on='tid', how='inner')
top_tracks = non_mus_tcks[non_mus_tcks['tid'].isin(tracks_invoices['tid'])]

NameError: name 'non_mus_tcks' is not defined

In [ ]:
# Concatenate the tracks
tracks_from_albums = pd.concat([tracks_master,tracks_ride,tracks_st],
                               sort=True)
print(tracks_from_albums)

In [29]:
dramas = netflix_df.loc[netflix_df['genre']=='Dramas',]
action = netflix_df.loc[netflix_df['genre']=='Action',]
comedies = netflix_df.loc[netflix_df['genre']=='Comedies',]
print(dramas.shape)
print(action.shape)
print(comedies.shape)

(1343, 11)
(696, 11)
(1029, 11)

In [30]:
# Concatenate 

concat = pd.concat([dramas,action,comedies], sort=True)
print(concat.shape)

(3068, 11)

In [37]:
# ordered merge

date = [2008,2009,2010,2011,2012,2014,2015,2016,2017,2013]
returns = [-38.49,23.45,12.78,0.00,13.41,11.39,-0.73,9.54,19.42,29.6]
sp500 = pd.DataFrame({
    'date': date,
    'return': returns
})

year = [2010,2011,2012,2012,2013,2014,2015,2016,2017,2018]
gdps = [1.499e+13,1.554e+13,1.620e+13,1.620e+13,1.678e+13,1.752e+13,1.822e+13,1.871e+13,1.949e+13,2.049e+13]
country = ['USA']*10
gdp = pd.DataFrame({
    'country code': country,
    'year': year,
    'gdp': gdps
})

gdp_sp500 = pd.merge_ordered(gdp, sp500, left_on='year', right_on='date', how='left',  fill_method='ffill')
print(gdp_sp500.head())

  country code  year           gdp  date  return
0          USA  2010  1.499000e+13  2010   12.78
1          USA  2011  1.554000e+13  2011    0.00
2          USA  2012  1.620000e+13  2012   13.41
3          USA  2012  1.620000e+13  2012   13.41
4          USA  2013  1.678000e+13  2013   29.60

In [ ]:
# merge asof

jpm_wells = pd.merge_asof(jpm, wells, on='date_time', direction='nearest', suffixes=['','_wells'])

In [38]:
# query

gdp_query = gdp.query('year >= 2014')
print(gdp_query)

  country code  year           gdp
5          USA  2014  1.752000e+13
6          USA  2015  1.822000e+13
7          USA  2016  1.871000e+13
8          USA  2017  1.949000e+13
9          USA  2018  2.049000e+13

In [41]:
# melt

country = ['Brazil','Canada','France','India']
inf_2017 = [3.45,1.60,1.03,2.49]
inf_2018 = [3.66,2.27,1.85,4.86]
inf_2019 = [3.73,1.95,1.11,7.66]

inflation = pd.DataFrame({
    'country': country,
    '2017': inf_2017,
    '2018': inf_2018,
    '2019': inf_2019
})

inflation.melt(id_vars=['country'], var_name='year', value_name='inflation')

   country  year  inflation
0   Brazil  2017       3.45
1   Canada  2017       1.60
2   France  2017       1.03
3    India  2017       2.49
4   Brazil  2018       3.66
5   Canada  2018       2.27
6   France  2018       1.85
7    India  2018       4.86
8   Brazil  2019       3.73
9   Canada  2019       1.95
10  France  2019       1.11
11   India  2019       7.66