In [1]:
import matplotlib.pyplot as plt
import seaborn as sns

df = sns.load_dataset('mpg')

In [3]:

print(df.head())

    mpg  cylinders  displacement  horsepower  weight  acceleration  \
0  18.0          8         307.0       130.0    3504          12.0
1  15.0          8         350.0       165.0    3693          11.5
2  18.0          8         318.0       150.0    3436          11.0
3  16.0          8         304.0       150.0    3433          12.0
4  17.0          8         302.0       140.0    3449          10.5

   model_year origin                       name
0          70    usa  chevrolet chevelle malibu
1          70    usa          buick skylark 320
2          70    usa         plymouth satellite
3          70    usa              amc rebel sst
4          70    usa                ford torino

In [4]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    392 non-null    float64
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model_year    398 non-null    int64
 7   origin        398 non-null    object
 8   name          398 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.1+ KB
None

In [5]:
print(df.shape)

(398, 9)

In [6]:
print(df.describe())

              mpg   cylinders  displacement  horsepower       weight  \
count  398.000000  398.000000    398.000000  392.000000   398.000000
mean    23.514573    5.454774    193.425879  104.469388  2970.424623
std      7.815984    1.701004    104.269838   38.491160   846.841774
min      9.000000    3.000000     68.000000   46.000000  1613.000000
25%     17.500000    4.000000    104.250000   75.000000  2223.750000
50%     23.000000    4.000000    148.500000   93.500000  2803.500000
75%     29.000000    8.000000    262.000000  126.000000  3608.000000
max     46.600000    8.000000    455.000000  230.000000  5140.000000

       acceleration  model_year
count    398.000000  398.000000
mean      15.568090   76.010050
std        2.757689    3.697627
min        8.000000   70.000000
25%       13.825000   73.000000
50%       15.500000   76.000000
75%       17.175000   79.000000
max       24.800000   82.000000

In [7]:
print(df.columns)

Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model_year', 'origin', 'name'],
      dtype='object')

In [8]:
print(df.index)

RangeIndex(start=0, stop=398, step=1)

In [9]:
print(df.values)

[[18.0 8 307.0 ... 70 'usa' 'chevrolet chevelle malibu']
 [15.0 8 350.0 ... 70 'usa' 'buick skylark 320']
 [18.0 8 318.0 ... 70 'usa' 'plymouth satellite']
 ...
 [32.0 4 135.0 ... 82 'usa' 'dodge rampage']
 [28.0 4 120.0 ... 82 'usa' 'ford ranger']
 [31.0 4 119.0 ... 82 'usa' 'chevy s-10']]

In [14]:
# sorting

df_mpg = df.sort_values(['mpg','horsepower'], ascending=[True,False])
print(df_mpg.head())

     mpg  cylinders  displacement  horsepower  weight  acceleration  \
28   9.0          8         304.0       193.0    4732          18.5
25  10.0          8         360.0       215.0    4615          14.0
26  10.0          8         307.0       200.0    4376          15.0
27  11.0          8         318.0       210.0    4382          13.5
67  11.0          8         429.0       208.0    4633          11.0

    model_year origin             name
28          70    usa         hi 1200d
25          70    usa        ford f250
26          70    usa        chevy c20
27          70    usa       dodge d200
67          72    usa  mercury marquis

In [15]:
# subset columns

df_subset = df[["name","mpg"]]
print(df_subset.head())

                        name   mpg
0  chevrolet chevelle malibu  18.0
1          buick skylark 320  15.0
2         plymouth satellite  18.0
3              amc rebel sst  16.0
4                ford torino  17.0

In [16]:
# subset rows

df_srows = df[(df['mpg'] < 18) & (df["horsepower"] < 210)]
print(df_srows.head())

    mpg  cylinders  displacement  horsepower  weight  acceleration  \
1  15.0          8         350.0       165.0    3693          11.5
3  16.0          8         304.0       150.0    3433          12.0
4  17.0          8         302.0       140.0    3449          10.5
5  15.0          8         429.0       198.0    4341          10.0
9  15.0          8         390.0       190.0    3850           8.5

   model_year origin                name
1          70    usa   buick skylark 320
3          70    usa       amc rebel sst
4          70    usa         ford torino
5          70    usa    ford galaxie 500
9          70    usa  amc ambassador dpl

In [17]:
# subset categorical rows

cars = ['buick skylark 320','amc rebel sst','ford torino']
df_srows = df[df['name'].isin(cars)]
print(df_srows.head())

    mpg  cylinders  displacement  horsepower  weight  acceleration  \
1  15.0          8         350.0       165.0    3693          11.5
3  16.0          8         304.0       150.0    3433          12.0
4  17.0          8         302.0       140.0    3449          10.5

   model_year origin               name
1          70    usa  buick skylark 320
3          70    usa      amc rebel sst
4          70    usa        ford torino

In [19]:
# adding columns

df_copy = df.copy()
df_copy['power_to_weight'] = df_copy['horsepower'] / df_copy['weight']
print(df_copy.head())

    mpg  cylinders  displacement  horsepower  weight  acceleration  \
0  18.0          8         307.0       130.0    3504          12.0
1  15.0          8         350.0       165.0    3693          11.5
2  18.0          8         318.0       150.0    3436          11.0
3  16.0          8         304.0       150.0    3433          12.0
4  17.0          8         302.0       140.0    3449          10.5

   model_year origin                       name  power_to_weight
0          70    usa  chevrolet chevelle malibu         0.037100
1          70    usa          buick skylark 320         0.044679
2          70    usa         plymouth satellite         0.043655
3          70    usa              amc rebel sst         0.043694
4          70    usa                ford torino         0.040591