In [1]:
import matplotlib.pyplot as plt
import seaborn as sns

df = sns.load_dataset('mpg')

In [2]:
# set index

df_index = df.set_index("name")
df_index.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin
name,,,,,,,,
chevrolet chevelle malibu,18.0,8,307.0,130.0,3504,12.0,70,usa
buick skylark 320,15.0,8,350.0,165.0,3693,11.5,70,usa
plymouth satellite,18.0,8,318.0,150.0,3436,11.0,70,usa
amc rebel sst,16.0,8,304.0,150.0,3433,12.0,70,usa
ford torino,17.0,8,302.0,140.0,3449,10.5,70,usa

In [3]:
# slicing with loc

print(df_index.loc["amc rebel sst":"ford torino","displacement":"weight"])

               displacement  horsepower  weight
name
amc rebel sst         304.0       150.0    3433
ford torino           302.0       140.0    3449

In [4]:
# slicing with iloc

print(df_index.iloc[:5,2:4])

                           displacement  horsepower
name
chevrolet chevelle malibu         307.0       130.0
buick skylark 320                 350.0       165.0
plymouth satellite                318.0       150.0
amc rebel sst                     304.0       150.0
ford torino                       302.0       140.0

In [5]:
# subset columns

df_subset = df[["name","mpg"]]
print(df_subset.head())

                        name   mpg
0  chevrolet chevelle malibu  18.0
1          buick skylark 320  15.0
2         plymouth satellite  18.0
3              amc rebel sst  16.0
4                ford torino  17.0

In [6]:
# subset rows

df_srows = df[(df['mpg'] < 18) & (df["horsepower"] < 210)]
print(df_srows.head())

    mpg  cylinders  displacement  horsepower  weight  acceleration  \
1  15.0          8         350.0       165.0    3693          11.5
3  16.0          8         304.0       150.0    3433          12.0
4  17.0          8         302.0       140.0    3449          10.5
5  15.0          8         429.0       198.0    4341          10.0
9  15.0          8         390.0       190.0    3850           8.5

   model_year origin                name
1          70    usa   buick skylark 320
3          70    usa       amc rebel sst
4          70    usa         ford torino
5          70    usa    ford galaxie 500
9          70    usa  amc ambassador dpl

In [7]:
# subset categorical rows

cars = ['buick skylark 320','amc rebel sst','ford torino']
df_srows = df[df['name'].isin(cars)]
print(df_srows.head())

    mpg  cylinders  displacement  horsepower  weight  acceleration  \
1  15.0          8         350.0       165.0    3693          11.5
3  16.0          8         304.0       150.0    3433          12.0
4  17.0          8         302.0       140.0    3449          10.5

   model_year origin               name
1          70    usa  buick skylark 320
3          70    usa      amc rebel sst
4          70    usa        ford torino